APP_ENV=local
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=webman_saas
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

TENANT_DOMAIN_ENABLED=true
TENANT_PUBLIC_TABLES=tenants,tenant_domains,system_settings,plugins,applications,tenant_plugin_settings,tenant_applications
TENANT_SHARDING_ENABLED=false
TENANT_SHARD_MODULO=16
TENANT_HEADER=X-Tenant-Code
TENANT_DEFAULT_CODE=default

ADMIN_API_TOKEN=
